<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="../assets/app.css">
    <link rel="stylesheet" href="../assets/registration.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>registration</title>
</head>
<body>
<header>
    <div class="container">
        <nav class="navbar navbar-light navbar-toggleable-sm">
            <a href="#" class="navbar-brand mb-0">
                <img src="../assets/library.png" width="30" height="30" class="d-inline-block align-top" alt="">
                hello_books</a>

            <div  class=" justify-content-end">
                <ul class="nav">
                    <li class="nav-item">
                        <a class="nav-link" href="../index.html">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="# sec-about">About</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#sec-features">Borrow</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="login.html">Login</a>
                    </li>
                </ul>
            </div>
        </nav>
    </div>
</header>

<!--adding and editing book info form-->
<div class="container">
    <h5>add a book</h5>
<div class="form-group row">
    <div class="col-sm-2"></div>
    <label class="col-sm-2 col-form-label ">Book Title</label>
    <div class="col-sm-6 ">
        <input type="text" class="form-control " placeholder="book title">
    </div>
    <div class="col-sm-2"></div>
</div>
<div class="form-group row">
    <div class="col-sm-2"></div>
    <label class="col-sm-2 col-form-label ">author</label>
    <div class="col-sm-6 ">
        <input type="text" class="form-control " placeholder="author">
    </div>
    <div class="col-sm-2"></div>
</div>
<div class="form-group row">
    <div class="col-sm-2"></div>
    <label class="col-sm-2 col-form-label ">category</label>
    <div class="col-sm-6 ">
        <input type="text" class="form-control " placeholder="category">
    </div>
    <div class="col-sm-2"></div>
</div>
<div class="form-group row">
    <div class="col-sm-2"></div>
    <label class="col-sm-2 col-form-label ">image url</label>
    <div class="col-sm-6 ">
        <input type="url" class="form-control " placeholder="image url">
    </div>
    <div class="col-sm-2"></div>
</div>
<div class="form-group row">
    <div class="col-sm-4"></div>
    <div class="col-sm-4">
        <button type="submit" class="btn btn-outline-primary btn-lg">submit</button>
    </div>
    <div class="col-sm-4"></div>
</div>
</div>
<!--end of adding/editing form-->

</form>
</body>
</html>