<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="../assets/app.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">



    <title>The Library</title>
</head>
<body>
    <section class="hero">
        <header>
            <div class="container">
                <nav class="navbar navbar-light navbar-toggleable-sm">
                    <a href="#" class="navbar-brand mb-0">
                        <img src="../assets/library.png" width="30" height="30" class="d-inline-block align-top" alt="">
                        hello_books</a>

                    <div  class=" justify-content-end">
                        <ul class="nav">
                            <li class="nav-item">
                                <a class="nav-link" href="../index.html">Home</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="login.html">Register</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="login.html">Login</a>
                            </li>
                        </ul>
                    </div>
                </nav>
            </div>
        </header>

        <div class="container">
            <h4 >Our Library</h4>
            <!--book pics row1 -->
            <div class="row book-pic-row ">
                <div class="col-sm-6 col-md-2">
                    <div class="items">
                        <img src="../assets/images/mockingbird.jpg" class="book-pic">
                        <h6>Title: Mockingbird<br>
                        Author: Harper Lee<br>
                        Category: Drama</h6>

                    </div>
                </div>

                <div class="col-sm-6 col-md-2">
                    <div class="items">
                        <img src="../assets/images/sidney.jpeg" class="book-pic">
                        <h6>Title: master of the game<br>
                        Author: Sidney Sheldon<br>
                        Category: Romance</h6>
                    </div>
                </div>

                <div class="col-sm-6 col-md-2">
                    <div class="items">
                        <img src="../assets/images/dan.jpg" class="book-pic">
                        <div >
                            <h6>Title: The Da Vinci Code<br>
                            Author: Dan Brown<br>
                            Category: Thriller</h6>
                        </div>
                    </div>
                </div>

                <div class="col-sm-6 col-md-2">
                    <div class="items">
                        <img src="../assets/images/godfather.jpg" class="book-pic">
                        <h6>Title: The Godfather<br>
                        Author: Mario Puzzo<br>
                        Category:Drama/thriller</h6>
                    </div>
                </div>

                <div class="col-sm-6 col-md-2">
                    <div class="items">
                        <img src="../assets/images/john.jpeg" class="book-pic">
                            <h6>Title Ford county<br>
                            Author: John grisham<br>
                            Category: Short stories</h6>

                    </div>
                </div>

                <div class="col-sm-6 col-md-2">
                    <div class="items">
                        <img src="../assets/images/almost.jpg" class="book-pic">
                        <h6>Title: Almost heaven<br>
                        Author: Judith mcnaught<br>
                        Category: Romance</h6>
                    </div>
                </div>


            </div>


            <!--book pics row2 -->
            <div class="row book-pic-row">
                <div class="col-sm-6 col-md-2">
                    <div class="items">
                        <img src="../assets/images/comics.jpeg" class="book-pic">
                        <h6>Title: Incredible Hulk<br>
                        Author: d. maina<br>
                        Category: Comics</h6>
                    </div>
                </div>

                <div class="col-sm-6 col-md-2">
                    <div class="items">
                        <img src="../assets/images/mockingbird.jpg" class="book-pic">
                        <h6>Tite: To Kill A Mockingbird<br>
                        Author: Lee Harper<br>
                        Category: Drama</h6>
                    </div>
                </div>

                <div class="col-sm-6 col-md-2">
                    <div class="items">
                        <img src="../assets/images/bible.jpg" class="book-pic">
                        <h6>Title: The Holy Bible<br>
                        Author: Chosen Few<br>
                        Category: Religion</h6>
                    </div>
                </div>

                <div class="col-sm-6 col-md-2">
                    <div class="items">
                        <img src="../assets/images/steve.jpg" class="book-pic">
                        <h6>Title: Steve Jobs<br>
                        Author: Steeve Wozniac<br>
                        Category: Bioraphy</h6>
                    </div>
                </div>

                <div class="col-sm-6 col-md-2">
                    <div class="items">
                        <img src="../assets/images/stephen.jpg" class="book-pic">
                       <h6>Title: The Shining<br>
                       Autor: Stephen King<br>
                       Category: Horror</h6>
                    </div>
                </div>

                <div class="col-sm-6 col-md-2">
                    <div class="items">
                        <img src="../assets/images/hobbit.jpg" class="book-pic">
                        <h6>Title: The hobbit<br>
                        Author: Jrr tolkien<br>
                        Category: Adventure</h6>
                    </div>
                </div>


            </div>
            <!--end of row -->

    </section>

</body>
</html>