<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="../assets/app.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">



    <title>The Library</title>
</head>
<body>
    <section class="hero">
        <header>
            <div class="container">
                <nav class="navbar navbar-light navbar-toggleable-sm">
                    <a href="#" class="navbar-brand mb-0">
                        <img src="../assets/library.png" width="30" height="30" class="d-inline-block align-top" alt="">
                        hello_books</a>

                    <div  class=" justify-content-end">
                        <ul class="nav">
                            <li class="nav-item">
                                <a class="nav-link" href="../index.html">home</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="login.html">register</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="login.html">login</a>
                            </li>
                        </ul>
                    </div>
                </nav>
            </div>
        </header>

        <div class="container">
            <h4 >Our Library</h4>
            <!--book pics row1 -->
            <div class="row book-pic-row ">
                <div class="col-sm-6 col-md-2">
                    <div class="items">
                        <img src="../assets/images/mockingbird.jpg" class="book-pic">
                        <h6>title: mockingbird<br>
                        author: harper lee<br>
                        category: drama</h6>

                    </div>
                </div>

                <div class="col-sm-6 col-md-2">
                    <div class="items">
                        <img src="../assets/images/sidney.jpeg" class="book-pic">
                        <h6>title: master of the game<br>
                        author: sidney sheldon<br>
                        category: romance</h6>
                    </div>
                </div>

                <div class="col-sm-6 col-md-2">
                    <div class="items">
                        <img src="../assets/images/dan.jpg" class="book-pic">
                        <div >
                            <h6>title: the da vinci code<br>
                            author: dan brown<br>
                            category: thriller</h6>
                        </div>
                    </div>
                </div>

                <div class="col-sm-6 col-md-2">
                    <div class="items">
                        <img src="../assets/images/godfather.jpg" class="book-pic">
                        <h6>title: the godfather<br>
                        author: mario puzzo<br>
                        category:drame/thriller</h6>
                    </div>
                </div>

                <div class="col-sm-6 col-md-2">
                    <div class="items">
                        <img src="../assets/images/john.jpeg" class="book-pic">
                            <h6>title: ford county<br>
                            author: john grisham<br>
                            category: short stories</h6>

                    </div>
                </div>

                <div class="col-sm-6 col-md-2">
                    <div class="items">
                        <img src="../assets/images/almost.jpg" class="book-pic">
                        <h6>title: almost heaven<br>
                        author: judith mcnaught<br>
                        category: romance</h6>
                    </div>
                </div>


            </div>


            <!--book pics row2 -->
            <div class="row book-pic-row">
                <div class="col-sm-6 col-md-2">
                    <div class="items">
                        <img src="../assets/images/comics.jpeg" class="book-pic">
                        <h6>title: incredible hulk<br>
                        author: d. maina<br>
                        category: comics</h6>
                    </div>
                </div>

                <div class="col-sm-6 col-md-2">
                    <div class="items">
                        <img src="../assets/images/mockingbird.jpg" class="book-pic">
                        <h6>title: to kill a mockingbird<br>
                        author: lee harper<br>
                        category: drama</h6>
                    </div>
                </div>

                <div class="col-sm-6 col-md-2">
                    <div class="items">
                        <img src="../assets/images/bible.jpg" class="book-pic">
                        <h6>title: the holy bible<br>
                        author: chosen few<br>
                        category: religion</h6>
                    </div>
                </div>

                <div class="col-sm-6 col-md-2">
                    <div class="items">
                        <img src="../assets/images/steve.jpg" class="book-pic">
                        <h6>title: steve jobs<br>
                        author: steve wozniac<br>
                        category: biography</h6>
                    </div>
                </div>

                <div class="col-sm-6 col-md-2">
                    <div class="items">
                        <img src="../assets/images/stephen.jpg" class="book-pic">
                       <h6>title: the shining<br>
                       author: stephen king<br>
                       category: horror</h6>
                    </div>
                </div>

                <div class="col-sm-6 col-md-2">
                    <div class="items">
                        <img src="../assets/images/hobbit.jpg" class="book-pic">
                        <h6>title: the hobbit<br>
                        author: jrr tolkien<br>
                        category: adventure</h6>
                    </div>
                </div>


            </div>
            <!--end of row -->

    </section>

</body>
</html>