<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="../assets/app.css">
    <link rel="stylesheet" href="../assets/registration.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>registration</title>
</head>
<body>
<header>
    <div class="container">
        <nav class="navbar navbar-light navbar-toggleable-sm">
            <a href="#" class="navbar-brand mb-0">
                <img src="../assets/library.png" width="30" height="30" class="d-inline-block align-top" alt="">
                hello_books</a>

            <div  class=" justify-content-end">
                <ul class="nav">
                    <li class="nav-item">
                        <a class="nav-link" href="../index.html">home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="# sec-about">library</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="# sec-about">profile</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#sec-features">logout</a>
                    </li>
                </ul>
            </div>
        </nav>
    </div>
</header>
<div class="container">
    <div class="row">
        <!--column containing the profile details-->
    <div class="col-md-3 col-sm-6">
        <img class="avatar" src="../assets/avatar.png">
        <h6>Username: Daniel Maina</h6>
        <h6>Email: mainadaniel81@gmail.com</h6>
        <a class="btn btn-primary btn-sm">edit profile</a>
    </div>
        <!--column containing books to be returned and the table showing history-->
        <div class="col-md-9 col-sm-6">
            <h5>borrowed books</h5>
            <!--book pics row2 -->
            <div class="row book-pic-row">

                <div class="col-sm-6 col-md-3">
                    <div class="items">
                        <img src="../assets/mockingbird.jpg" class="book-pic">
                        <button type="button" class="btn btn-outline-primary bt-sm">return book</button>
                    </div>
                </div>
                <div class="col-sm-6 col-md-3">
                    <div class="items">
                        <img src="../assets/mockingbird.jpg" class="book-pic">
                        <button type="button" class="btn btn-outline-primary bt-sm">return book</button>
                    </div>
                </div>

                <div class="col-sm-6 col-md-3">
                    <div class="items">
                        <img src="../assets/mockingbird.jpg" class="book-pic">
                        <button type="button" class="btn btn-outline-primary bt-sm">return book</button>
                    </div>
                </div>

                <div class="col-sm-6 col-md-3">
                    <div class="items">
                        <img src="../assets/mockingbird.jpg" class="book-pic">
                        <div >
                            <button type="button" class="btn btn-outline-primary bt-sm">return book</button>
                        </div>
                    </div>
                </div>

            </div>

</div>
</div>
</body>
</html>